// projects
.projects
  width: 100%

.projects-list
  border()
  display: flex
  flex-wrap: wrap
  width: 100%

.project
  border()

.project-name
    color: #fff

.project-star-count

.project-description  