extends ./layouts/default.pug

block content
  main.main.container-centered
    div.profile
      img(srcset="assets/img/johnson-perfil-200x200.jpg 1x, assets/img/johnson-perfil-400x400.jpg 2x, " src="assets/img/johnson-perfil-200x200.jpg" class="profile-img" alt="Johnson Mauro Perfil")
      h1.heading-lv1 Johnson Mauro
      p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam at lacus ut tincidunt. Praesent cursus consectetur est, vitae tempus ipsum bibendum quis. Nam enim est, tristique non tempor sed, mollis sit amet nibh. Donec in hendrerit justo. Vivamus ullamcorper, turpis nec volutpat congue, purus urna porta felis, at ullamcorper purus mi at mi. Nam aliquet libero eu tempor feugiat. Ut ultrices nulla tellus, pretium pharetra massa tincidunt eget. Donec vel tempus mi. Aliquam quis ipsum egestas, rutrum enim ac, vestibulum erat. Fusce dignissim massa non luctus tempor. Aliquam molestie sapien non nulla cursus congue. Integer eget mollis neque. Fusce venenatis scelerisque arcu id pharetra.
