/* Colors */
highLight-color = #ff0066
secondary-color = #212121
backGround-color = #333

/* Dev mode */
border()
  border: 1px dashed

/* Box Model */
*
  box-sizing: border-box

/* Generics */
html, 
body
  height: 100%

body
  display: flex
  flex-direction: column

.main
  flex: 1

.container
  border()
  display: flex
  flex-wrap: wrap
  max-width: 800px
  margin: 0 auto  
  width: 100%

/* Partials */
@import 'partials/header.styl'
@import 'partials/footer.styl'
